/*<meta />*/

@media only screen and (max-width: 1279px)
{
	/* Search Styles */

	.search-bar .search-filter
	{
		font-size: 1em;
	}

	.button.login-button.feedback-required,
	.button.edit-user-profile-button.feedback-required
	{
		display: none;
	}

	.pulse-frame
	{
		display: none;
	}

	.central-account-text
	{
		display: none;
	}

	.buttons._Skins_toolbar.mc-component
	{
		
	}

	._Skins_toolbar.mc-component .button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button > div
	{
		
	}

	._Skins_toolbar.mc-component .button .button-icon-wrapper
	{
		
	}

	._Skins_toolbar.mc-component .button .button-text
	{
		
	}

	._Skins_toolbar.mc-component .button.collapse-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.current-topic-index-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.expand-all-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.login-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.next-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.previous-topic-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.print-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.remove-highlight-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.select-language-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.select-skin-button
	{
		background-repeat: no-repeat;
		background: #ececec;
		background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
		background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%);
		background: linear-gradient(top, #ffffff 0%,#ececec 100%);
		-pie-background: linear-gradient(#ffffff, #ececec);
		background-position: center center;
	}

	._Skins_toolbar.mc-component .button.topic-ratings-empty-button
	{
		background: transparent url('Images/star-empty.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/star-empty.png') no-repeat center center;
		background-size: 16px 16px;
	}

	._Skins_toolbar.mc-component .toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_toolbar.mc-component .toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_toolbar.mc-component .toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_toolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	._Skins_toolbar.mc-component .toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	._Skins_toolbar.mc-component .button-separator
	{
		background-color: #e1e1e1;
	}

	.mc-component .featured-snippets-container
	{
		
	}

	.mc-component #knowledge-panel
	{
		
	}

	.mc-component #search-results-flex
	{
		
	}

	.mc-component .knowledge-panel-container
	{
		
	}

	.mc-component .knowledge-panel-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	.mc-component .knowledge-panel-container .micro-content-phrase span
	{
		
	}

	.mc-component .knowledge-panel-container .micro-content-phrase
	{
		
	}

	.mc-component .knowledge-panel-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response
	{
		
	}

	.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title a
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title a:visited
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title a:focus
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title a:hover
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-title a:active
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-url cite
	{
		
	}

	.mc-component .knowledge-panel-container .micro-response-url
	{
		
	}

	.mc-component .knowledge-panel-container .micro-content
	{
		background-position: center center;
	}

	.mc-component .knowledge-panel-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.mc-component .knowledge-panel-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	.mc-component .knowledge-panel-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	.mc-component .knowledge-panel-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(top, transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	.mc-component #resultList .glossary .definition
	{
		
	}

	.mc-component #resultList .glossary
	{
		background-position: center center;
	}

	.mc-component #resultList .glossary .term
	{
		
	}

	.mc-component #resultList .glossary .term a
	{
		
	}

	.mc-component #resultList .glossary .term a:visited
	{
		
	}

	.mc-component #resultList .glossary .term a:focus
	{
		
	}

	.mc-component #resultList .glossary .term a:hover
	{
		
	}

	.mc-component #resultList .glossary .term a:active
	{
		
	}

	.mc-component h1#results-heading
	{
		
	}

	.mc-component #results-heading
	{
		
	}

	.mc-component .featured-snippets-container .micro-content-drop-down-button
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.mc-component .featured-snippets-container .micro-content-expanded .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-drop-down-button
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	.mc-component .featured-snippets-container .micro-content-phrase span
	{
		
	}

	.mc-component .featured-snippets-container .micro-content-phrase
	{
		
	}

	.mc-component .featured-snippets-container.micro-content-optional-phrase .micro-content-phrase
	{
		
	}

	.mc-component .featured-snippets-container .micro-response
	{
		
	}

	.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-response
	{
		
	}

	.mc-component .featured-snippets-container .micro-content-expand
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.mc-component .featured-snippets-container .micro-content-expanded .micro-content-expand
	{
		background: transparent url('Images/arrow-up.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-up.png') no-repeat center center;
	}

	.mc-component .featured-snippets-container .micro-content-collapsed .micro-content-expand
	{
		background: transparent url('Images/arrow-down.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Components/Images/arrow-down.png') no-repeat center center;
	}

	.mc-component .featured-snippets-container.micro-content-truncated-mode .micro-content-expand-transition
	{
		background: -moz-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
		background: -o-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: -ms-linear-gradient(top, transparent 0%,#ffffff 100%);
		background: linear-gradient(top, transparent 0%,#ffffff 100%);
		-pie-background: linear-gradient(transparent, #ffffff);
	}

	.mc-component .featured-snippets-container .micro-response-title a
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-title
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-title a:visited
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-title a:focus
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-title a:hover
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-title a:active
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-url cite
	{
		
	}

	.mc-component .featured-snippets-container .micro-response-url
	{
		
	}

	.mc-component .featured-snippets-container .micro-content
	{
		background-position: center center;
	}

	.mc-component #pagination
	{
		line-height: 2.5em;
	}

	.mc-component #pagination a
	{
		
	}

	.mc-component #pagination a:hover
	{
		
	}

	.mc-component #pagination a#selected
	{
		
	}

	.mc-component #resultList .description
	{
		
	}

	.mc-component #resultList .gs-snippet
	{
		
	}

	.mc-component #resultList h3.title a
	{
		
	}

	.mc-component #resultList h3.title
	{
		
	}

	.mc-component #resultList h3.title a:visited
	{
		
	}

	.mc-component #resultList h3.title a:focus
	{
		
	}

	.mc-component #resultList h3.title a:hover
	{
		
	}

	.mc-component #resultList h3.title a:active
	{
		
	}

	.mc-component #resultList .url cite
	{
		
	}

	.mc-component #resultList
	{
		
	}

	.mc-component .phrase-suggest
	{
		
	}

	.mc-component .phrase-suggest a
	{
		
	}
}

